<%= simple_form_for question, html: { class: 'px-0 pt-4 pb-2'} do |f| %>
  <div class="input-group mb-2 w-100">
    <div class="input-group shadow text_area_border_left">
      <%= f.input :user_question, label: false, wrapper: false, required: true, input_html: {class: 'form-control border-0 text-light text_area_container', style: "border-top-left-radius: 10px; border-bottom-left-radius: 10px;  "} %>
      <%= f.submit "Ask", id: "new-question-button", class: "btn btn-primary text_area_border_right enter_green border_button_green_thin", style: 'color: rgba(255, 255, 255, 0.9) !important;'%>
    </div>
  </div>
<% end %>
