<%= render TurboModalComponent.new(title: "Ask me anything about Manu!", clases: 'chatbot-content notClose', modal_h: ' d-flex justify-content-between') do %>
  <!-- app/views/questions/index.html.erb -->
  <div class="container mt-0 chatbot">
    <%# <h3>What do you want to know about Manu..?</h3> %>
    <div id="questions">
      <%= render @questions %>
    </div>
    <%= render "form", question: @question %>
  </div>
<% end %>
