

.container.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 3rem;
}
.main-heading {
  font-size: 56px;
  font-weight: bold;
}

.sub-heading {
  font-size: 24px;
  color: #8892b0;
}

.nav-link {
  padding-left: 0;
  color: #8892b0;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #64ffda;
}

.description {
  font-size: 18px;
  color: #8892b0;
}


.experience-item {
  padding: 10px;
}


.experience-item h4 {
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color-w {
  color: white;
}

.experience-item:hover {
  color: #64ffda;
  // box-shadow: 0 8px 16px rgba(48, 42, 40, -0.9), 0 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: rgba(90, 90, 90, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Fondo más opaco en hover */
  backdrop-filter: blur(15px);
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2);
}

.experience-item p {
  color: #8892b0;
}

.social-icons {
  padding-bottom: 13rem;
}

.social-icons i {
  color: #8892b0;
  margin-right: 15px;
  font-size: 24px;
}

.social-icons i:hover {
  color: #64ffda;
}

.text-green {
  color: #64ffda;
}

.left-column {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.right-column {
  height: 100%;
  overflow-y: auto;
  padding-right: 15px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  // margin-top: 3rem;
}

.right-column::-webkit-scrollbar {
  width: 0px;
  /* Elimina la barra de desplazamiento en Webkit (Safari y Chrome) */
  background: transparent;
  /* Hace que la barra de desplazamiento sea transparente */
}

.experience-section {
  margin-bottom: 50px;
  margin-top: 50px
}
