<p>Passionate about technology, I motivate myself daily to expand my knowledge. My goal is to take my skills as a Full Stack Web Developer a step further, continuously learn, and above all, generate value with enthusiasm and commitment.</p>
<p>I am Full-Stack Web Developer with strong technical skills as a Ruby on Rails developer, as well as SQL and MySQL for databases. I am well-versed in front-end technologies such as HTML, CSS, and JavaScript, and have experience with modern frameworks like Stimulus and Hotwire. Additionally, I have experience deploying applications in the cloud using platforms like Heroku, and in creating and consuming REST APIs for service integration. My testing skills include using tools like RSpec, Capybara, and Selenium to ensure code quality.</p>
<p>
  My entrepreneurial background includes founding an audiovisual production services company, serving both corporate and independent clients, and the role of partner-coordinator in real estate projects. These experiences have strengthened my teamwork skills.
</p>
