<div class="container main-content">
	<div class="row h-100">
		<div class="col-5 lef-column" >
			<div class="d-flex flex-column h-100 min-vh-100">
				<div class="div">
					<h1 class="main-heading">Manuel Ferrer</h1>
					<h2 class="sub-heading">Senior Fullstack developor</h2>
					<p>I build pixel-perfect, engaging, and accessible digital experiences.</p>
				</div>

				<nav class="nav flex-column mt-5">
					<a class="nav-link active" href="#">ABOUT</a>
					<a class="nav-link" href="#">EXPERIENCE</a>
					<a class="nav-link" href="#">PROJECTS</a>
				</nav>
				<div class="d-flex align-items-end h-100">
					<div class="social-icons mt-auto pb-5">
						<i class="fab fa-github"></i>
						<i class="fab fa-linkedin"></i>
						<i class="fab fa-codepen"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-xing"></i>
						<i class="fab fa-goodreads"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="col-7 right-column">
			<div class="description">
				<p>Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head first into the rabbit hole of coding and web development. Fast-forward to today, and I've had the privilege of building software for an <strong>advertising agency</strong>, a <strong>start-up</strong>, a <strong>huge corporation</strong>, and a <strong>digital product studio</strong>.</p>
				<p>My main focus these days is building accessible user interfaces for our customers at <strong>Klaviyo</strong>. I most enjoy building software in the sweet spot where design and engineering meet — things that look good but are also built well under the hood. In my free time, I've also released an <strong>online video course</strong> that covers everything you need to know to build a web app with the Spotify API.</p>
				<p>When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and two cats, or running around Hyrule searching for <strong>Korok seeds</strong>.</p>
			</div>

			<div class="experience-section mb-5">
				<div class="experience-item">
					<h4>2024 — PRESENT</h4>
					<h5>Senior Frontend Engineer, Accessibility · Klaviyo <i class="fas fa-external-link-alt"></i></h5>
					<p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
					<span class="badge">JavaScript</span>
					<span class="badge">TypeScript</span>
					<span class="badge">React</span>
					<span class="badge">Storybook</span>
				</div>
			</div>

			<div class="description">
				<p>Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head first into the rabbit hole of coding and web development. Fast-forward to today, and I've had the privilege of building software for an <strong>advertising agency</strong>, a <strong>start-up</strong>, a <strong>huge corporation</strong>, and a <strong>digital product studio</strong>.</p>
				<p>My main focus these days is building accessible user interfaces for our customers at <strong>Klaviyo</strong>. I most enjoy building software in the sweet spot where design and engineering meet — things that look good but are also built well under the hood. In my free time, I've also released an <strong>online video course</strong> that covers everything you need to know to build a web app with the Spotify API.</p>
				<p>When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and two cats, or running around Hyrule searching for <strong>Korok seeds</strong>.</p>
			</div>

			<div class="experience-section mb-5">
				<div class="experience-item">
					<h4>2024 — PRESENT</h4>
					<h5>Senior Frontend Engineer, Accessibility · Klaviyo <i class="fas fa-external-link-alt"></i></h5>
					<p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
					<span class="badge">JavaScript</span>
					<span class="badge">TypeScript</span>
					<span class="badge">React</span>
					<span class="badge">Storybook</span>
				</div>
			</div>

			<div class="description">
				<p>Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head first into the rabbit hole of coding and web development. Fast-forward to today, and I've had the privilege of building software for an <strong>advertising agency</strong>, a <strong>start-up</strong>, a <strong>huge corporation</strong>, and a <strong>digital product studio</strong>.</p>
				<p>My main focus these days is building accessible user interfaces for our customers at <strong>Klaviyo</strong>. I most enjoy building software in the sweet spot where design and engineering meet — things that look good but are also built well under the hood. In my free time, I've also released an <strong>online video course</strong> that covers everything you need to know to build a web app with the Spotify API.</p>
				<p>When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and two cats, or running around Hyrule searching for <strong>Korok seeds</strong>.</p>
			</div>

			<div class="experience-section mb-5">
				<div class="experience-item">
					<h4>2024 — PRESENT</h4>
					<h5>Senior Frontend Engineer, Accessibility · Klaviyo <i class="fas fa-external-link-alt"></i></h5>
					<p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
					<span class="badge">JavaScript</span>
					<span class="badge">TypeScript</span>
					<span class="badge">React</span>
					<span class="badge">Storybook</span>
				</div>
			</div>

			<div class="description">
				<p>Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head first into the rabbit hole of coding and web development. Fast-forward to today, and I've had the privilege of building software for an <strong>advertising agency</strong>, a <strong>start-up</strong>, a <strong>huge corporation</strong>, and a <strong>digital product studio</strong>.</p>
				<p>My main focus these days is building accessible user interfaces for our customers at <strong>Klaviyo</strong>. I most enjoy building software in the sweet spot where design and engineering meet — things that look good but are also built well under the hood. In my free time, I've also released an <strong>online video course</strong> that covers everything you need to know to build a web app with the Spotify API.</p>
				<p>When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and two cats, or running around Hyrule searching for <strong>Korok seeds</strong>.</p>
			</div>

			<div class="experience-section mb-5">
				<div class="experience-item">
					<h4>2024 — PRESENT</h4>
					<h5>Senior Frontend Engineer, Accessibility · Klaviyo <i class="fas fa-external-link-alt"></i></h5>
					<p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
					<span class="badge">JavaScript</span>
					<span class="badge">TypeScript</span>
					<span class="badge">React</span>
					<span class="badge">Storybook</span>
				</div>
			</div>
		</div>


	</div>
</div>
