<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>New Contact Message</h2>

    <p><strong class="text-success">Name:</strong> <%= @contact.name %></p>
    <p><strong>Email:</strong> <%= @contact.email %></p>
    <p><strong>Message:</strong></p>
    <p><%= @contact.message %></p>

    <br>
    <p>Thank you,</p>
    <p>Your Portfolio Website</p>
  </body>
</html>
