.aspect-ratio-container {
  // position: relative;
  width: 100%;
  // padding-bottom: 56.25%;
  /* Relación de aspecto 16:9 (9/16 * 100) */
}
.aspect-ratio-item {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.photo-card {
  position: relative;
  display: inline-block;
}

.delete-photo {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: red;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.delete-photo:hover {
  background: rgba(255, 255, 255, 1);
}
