.text_area_border_left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text_area_border_right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.text_area_container {
  border: 0.3px solid #31f9c7 !important;
  opacity: 0.3;
  background-color: #1e293b;
}
