.text_area_border_left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text_area_border_right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Agrupando los selectores para evitar repetición */
.text_area_container,
.text_area_container:hover,
.text_area_container:focus {
  border: 0.3px solid #31f9c7 !important;
  background-color: rgba(30, 41, 59, 0.3);
  color: white !important;
}
