.music-animated {
  will-change: transform;
  animation: pulse 1.5s infinite;
  transform-origin: center;
  font-size: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
